fastapi
uvicorn
python-multipart

langchain
langchain-core
langchain-community
langchain-openai

chromadb
pymongo

sentence-transformers
rank-bm25

pydantic
sqlalchemy

ragas

python-dotenv

unstructured
pypdf
docx2txt