fastapi
uvicorn
python-multipart

langchain
langchain-core
langchain-community
langchain-openai
langchain-mongodb
pymongo

sentence-transformers
rank-bm25

pydantic
sqlalchemy
email-validator
passlib[bcrypt]
bcrypt<5
python-jose[cryptography]

ragas

python-dotenv

unstructured
pypdf
docx2txt
